<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">  
.tit{
  font-size:70px;
}
.bodyy{
  background-image: url(public/bgn.png);

height: 100%;
background-repeat: no-repeat;
background-size: cover;
}
p{
  align-items:center;
  font-size:20px;

}
.seq{
    color:black;
    font-size:30px;
    height:50px;
    align-item:right;
    text-align:right;

}
.seq1{
    color:black;
    font-size:25px;
    height:50px;
    align-item:right;
    text-align:center;
    padding-left:1200px;

}
.seq2{
    color:black;
    font-size:45px;
    height:50px;
    align-item:center;
    text-align:center;

}
.pp{
  font-size:35px;

}
.im{
  align-item:left;
  padding-right:50px;
}
    </style>  

<body class="bodyy">
<div>
<div id="header" style="height:15%;width:100%;">
<div style='float:center'>
<center> 
<p class="tit">
<%= image_tag("imgg.png") %>FreshEats
</center>
</div>
</div>
<div class="seq2"> Food Item Overview</div>   

<center>

<p class="pp">
  <strong>Food Item:</strong>
  <%= @product.title %>
</p>

<p class="pp">
  <strong>Price:</strong>
  <%= @product.price %>
</p>
</center>
<% @product.assignments.each do |assignment| %>

  <%= assignment.color.color %>
  <%= assignment.quantity %>

<% end %>
<script>
        var example = ['The most expensive pizza in the world costs $12,000 dollars.', 'One fast-food burger can have meat from 100 different cows.', 'Ketchup used to be used as a medicine.', 'Cheese is the most stolen food in the world.','Chocolate has been used as a currency in Mexico and South America.','McDonald’s sells 2.5 billion hamburgers every year.','You can find peanuts in dynamite.','In ancient Egyptian days, radishes, onions, and garlic were given to workers as wages.','French fries originated in Belgium, not France!'];

        textSequence(0);
        function textSequence(i) {

            if (example.length > i) {
                setTimeout(function() {
                    document.getElementById("sequence").innerHTML = example[i];
                    textSequence(++i);
                }, 5000); // 1 second (in milliseconds)

            } else if (example.length == i) { // Loop
                textSequence(0);
            }

        }
      
var imageSources = ["public/pizza.png", "burger.png","ket.png","cheese.png","chocolate.png","mcd.png","peanut.png","raddish.png","ff.png"]

var index = 0;
setInterval(function(){
  if (index === imageSources.length) {
    index = 0;
  }
  document.getElementById("image").src = imageSources[index];
  index++;
}, 5000);
    </script>
  <p></p>
    <div class="seq1" id="sequence">Margherita pizza is named after a queen.</div>    <p></p>
<div float:"right">
    <img class="im" id="image" src="public/queen.png"  align="right" width="500" height="400">
 </div>   <marquee scrollamount="20"
    <div class="seq">Fresh Food Facts...</div>
</marquee>
<p class="pp"><center><strong>
<%= link_to 'Back', root_path %></strong>
</center></p>
</body>