<head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">  
.mySlides {display:none;}
      .para1{
    color:red;
    font-size:12px;
    font-family: cursive;
    font-size:25px;
    font-weight:bold;
    }
  .tit{
    font-size:70px;
    font-color:white;
    font-weight:normal;

  }
  .bodyy{
 background-image: url('/assets/271891.jpg') ;
 font-size:20px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cursive;
  font-size:25px;
  font-weight:bold;
  color:black;
  height: 100%;
  }
  .pp{
    font-size:40px;
    font-family: cursive;
    font-size:25px;
    font-weight:bold;
  
  }
  .imm{
  margin-left:100px;
  font-family: cursive;
  font-size:25px;
  font-weight:bold;
}
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
  background-color: rgba(0,0,0,0.1);
}

/* styling paper */
#paper {
  width: 600px;
  height: 700px;
  position: relative;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255,0,0,0.6);
}

/* styling blue horizontal lines */
#pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}
#myDiv {
margin-left:900px;
font-family: cursive;
font-size:25px;
font-weight:bold;
}
#myDiv2 {
    margin-left:1350px;
color:black;
font-family: cursive;
font-size:25px;
font-weight:bold;
}
.tg{
  margin-left:90px;
  font-family: cursive;
  font-size:25px;
  font-weight:bold;

}
  .seq2{
    color:black;
    font-size:30px;
    font-weight:bold;    height:50px;
    font-family: cursive;

    align-item:center;
    text-align:center;
  

}
td{
  color:black;
  font-family: cursive;
  font-size:25px;
  font-weight:bold;
}
   .eat{
     font-size:40px;
     font-family: cursive;

   }
   .tab{
    font-size:25px;
    font-weight:bold;     border-spacing: 0 1em;
color:black;
font-family: cursive;
}
   .card{
    font-size:25px;
    font-weight:bold;     font-family: cursive;
    }
   td
{     font-size:25px;
font-weight:bold;
font-family: cursive;


    padding:0 15px;
}
th
{
    padding:0 15px;
    font-family: cursive;


    font-size:25px;
    font-weight:bold;
}
.imm{
  margin-left:30px;
  font-family: cursive;
  font-size:25px;
font-weight:bold;

}
tr{
  width:20px;
  font-family: cursive;
font-size:25px;
font-weight:bold;

}
    </style>  
</head>    
    <body class="bodyy">
    <div>

<div id="header" style="height:15%;width:100%;">
    <div style='float:center'>
   <center> 
   <p class="tit">
   <%= image_tag("imgg.png") %>FreshEats
</center>
<center>
<img src="/assets/ls.png" alt="line1" width="1200" height="30"/>
</center>
<div class="seq2">Editing Food Item Values</div>
<center>
<img src="/assets/ll.png" alt="line1" width="1200" height="110"/>
</center>
<br>

</div>
</div>
</div>
<script>
function myFunction() {
  document.getElementById("myDiv").style.marginLeft = "900px";
}
myFunction();
</script>
<div id="myDiv">
<%= render 'form', product: @product %>


</div>

<div id="myDiv2" >

<img class="imm" src="/assets/logo.gif" width="350" height="100" alt="Flying Bee"><br>
<div class="tg">
<%= link_to 'Get back to Menu Page', root_path %>
<p></p>
<%= link_to 'Get Back to Items Page', products_path %>
</div>
</div>
</div>

<div id="paper">
  <div id="pattern">
    <div id="content">
   <p>Rule Book: </p><%= image_tag("cat.png") %>

     <p> Treat Customer with utmost satisfaction they expect. </p>
      <p>Make your Quality market, for your brand</p>
      <p>Feed customer's starvation with exquiste food delight </p>
    </div>
  </div>
</div>